*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    /* background-color: #121f3d; */
    background: url(../assets/background.jpg);
    background-position: top;
    object-fit: fill;
    color: gold;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #24385b;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 3px solid purple;
}

header nav > ul {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    margin-left: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid gold;
    border-radius: 5px;
    padding: 0 10px;
}

.logo p {
    font-weight: bold;
    text-shadow: 1px 1px purple;
}

nav ul > li {
    list-style-type: none;
    margin: 5px 10px;
    transform: skew(-10deg, 0deg);
    background-color: purple;
    padding: 5px;
}

nav ul > li:hover{
    background-color: gold;
    cursor: pointer;
}

nav ul > li:hover a{
    color: purple;
}

a {
    color: gold;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

main h1 {
    width: 90%;
    max-width: 600px;
    padding: 10px;
    text-align: center;
    background-color: purple;
    transform: skew(-10deg, 0deg);
}


.clases {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    background-color: rgba(36,56,91, 0.2);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    border: 1px solid rgba(128,0,128, 0.3);
}

.clase {
    width: 250px;
    min-height: 200px;
    /* background-color: #121f3d; */
    background: linear-gradient(45deg,#121f3d,#1b305d );
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0.4px purple;
}

.clase h2{
    padding: 5px;
    text-align: center;
    background-color: gold;
    border-radius: 10px 10px 0px 0px;
    color: #121f3d;
}

.notas{
    padding: 20px;
}

.notas code {
    background-color: #24385b;
    color: gold;
    padding: 2px 4px;
    border-radius: 3px;
}

footer {
    margin-top: 20px;
    width: 100%;
    min-height: 100px;
    background-color: rgba(36,56,91, 1);
    backdrop-filter: blur(3px);
    display: flex;
}

.footer-section{
    display: flex;
    flex-direction: column;
    width: 33.3%;
    align-items: center;
    margin: 10px 0;
}

.footer-section p {
    margin: 10px 0;
    font-weight: bold;
    color: white;
}

.footer1 ul > li {
    font-size: 15px;
    list-style-type: none;
    margin: 10px 0;
}

.footer1 ul > li {
    font-size: 15px;
    list-style-type: none;
    margin: 10px 0;
}

.footer1 ul a{
    color: white;
}

.footer2 .social {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.footer2 .social i{
    font-size: 50px;
    color: white;
}

.footer3 {
    justify-content: center;
}

.footer1, .footer2 {
    border-right: 1px solid rgba(128,128,128, 0.3)
}