*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #121f3d;
    color: gold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

main h1 {
    width: 90%;
    max-width: 600px;
    padding: 10px;
    text-align: center;
    background-color: purple;
    transform: skew(-10deg, 0deg);
}


.clases {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    background-color: #24385b;
    padding: 20px;
    display: flex;
    gap: 20px;
    border-radius: 10px;
}

.clase {
    width: 250px;
    min-height: 200px;
    /* background-color: #121f3d; */
    background: linear-gradient(45deg,#121f3d,#1b305d );
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0.4px purple;
}

.clase h2{
    padding: -20px;
    text-align: center;
    background-color: gold;
    border-radius: 10px 10px 0px 0px;
    color: #121f3d;
}

.notas{
    padding: 20px;
}

.notas code {
    background-color: #24385b;
    color: gold;
    padding: 4px;
    border-radius: 5px;
}
