*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    /* background-color: #121f3d; */
    background: url(../assets/background.jpg);
    background-position: top;
    object-fit: fill;
    color: gold;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #24385b;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 3px solid purple;
}

header nav > ul {
    display: flex;
    align-items: center;
    height: 100%;
}

header img {
    margin-left: 20px;
    height: 40px;
}

nav ul > li {
    list-style-type: none;
    margin: 5px 10px;
}

a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

main h1 {
    width: 90%;
    max-width: 600px;
    padding: 10px;
    text-align: center;
    background-color: purple;
    transform: skew(-10deg, 0deg);
}


.clases {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    background-color: rgba(36,56,91, 0.5);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    border-radius: 10px;
}

.clase {
    width: 250px;
    min-height: 200px;
    /* background-color: #121f3d; */
    background: linear-gradient(45deg,#121f3d,#1b305d );
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0.4px purple;
}

.clase h2{
    padding: 5px;
    text-align: center;
    background-color: gold;
    border-radius: 10px 10px 0px 0px;
    color: #121f3d;
}

.notas{
    padding: 20px;
}

.notas code {
    background-color: #24385b;
    color: gold;
    padding: 2px 4px;
    border-radius: 3px;
}
